body.noscroll {
	overflow-y: hidden;
}

.notes-modal {
	position: fixed;
}

.comment-modal {
	z-index: 9999;
	background-color: black;
	opacity: 0.9;
	position: fixed;
	display: flex;
	overflow: auto;
	cursor: pointer;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 1vw;
	padding-left: 9vw;
}

.notes-icon {
	transform: scale(0.15) translate(-269%, -240%);
	user-select: none;
	pointer-events: none;
	z-index: 9999;
}

.hidden {
	display: none;
}

.comment-close {
  cursor: pointer;
  z-index: 99999;
  position: fixed;
  display: block;
  color: white;
  padding: 5px;
  line-height: 2vw;
  padding-top: 0;
  right: 10.7%;
  top: 17.5%;
  font-size: 2.4vw;
  height: 2vw;
  background: maroon;
  // border-radius: 50%;
  border: 1px solid black;

  &:hover {
    background: white;
    color: maroon;
  }
}

.comment-image {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	background-color: transparent;
	z-index: 9999;
	position: fixed;
	height: 35vw;
	width: 50vw;
	// margin-left: 10vw;
	left: 9.4%;
	top: 17.3%;
	// border: 1px solid red;
	// transform: translate(-132.5%, 9%);
}

.notes-image {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.comments {
	background-color: white;
	z-index: 9999;
	position: fixed;
	border: 1px solid black;
	height: 57%;
	width: 28.78%;
	margin-left: 0.48vw;
	margin-top: 2.5vw;
	overflow: scroll;
}

.comment-header {
	// border:1px solid red;
	z-index: 99999;
	background-color: transparent;
	// font-weight: bold;
	font-size: 1.1vw;
	position: fixed;
	opacity: 1;
	width: 29%;
	height: 4%;
	display: flex;
	margin-top: 0.25vw;
	justify-content: center;
	// padding-left: 5vw;
	// padding-right: 5vw;
	// margin-left: 8.7vw;
	&:hover {
		cursor: pointer;
		color: blue;
	}
}
.comment-area {
	border-left: 0.25vw solid black;
	border: 0.1vw solid black;
	z-index: 9999;
	background-color: white;
	position: fixed;
	opacity: 1;
	height: 35vw;
	width: 30vw;
	right: 10.6%;
	// top: 0;
	bottom: 12.3%;
	// left: 0;
	// transform: translate(112.5%, 109%);
}

#note-button {
	position: absolute;
	font-size: 1.5vw;
	z-index: 9999;
	transform: translate(15%, 15%) scale(0.5);
	bottom: 0;
	right: 0;
	margin: 0.5vw;
}

.note-text {
	display: flex;
	position: absolute;
	background: #f8f8f8;
	resize: none;
	font-size: 0.9vw;
	align-items: center;
	outline: none;
	border: none;
	padding-top: 0.4vw;
	padding-left: 0.4vw;
	margin: 0.1vw;
	overflow: scroll;
	border: 1px solid black;
	width: 99%;
	height: 91%;
}

.note-input {
	border: 1px solid black;
	background-color: transparent;
	width: 70%;
	height: 7.5%;
	margin: 0.5vw;
	position: absolute;
	bottom: 0;
}

.note-delete:hover {
	cursor: pointer;
}

.stop-select {
	user-select: none;
	pointer-events: none;
}

.notes-indicator {
	margin-top: 0.2vw;
	margin-left: 0.8vw;
	transform: scale(0.9);
}


