.progress-bar {
	height: 1vw;
	width: 15vw;
}

.outer-progress {
	position: absolute;
	height: inherit;
	width: inherit;
	background-color: white;
	border: 2px solid black;
}
.inner-progress {
	position: relative;
	height: inherit;
	width: 0%;
	background-color: black;
}