.hidden-input {
	display: none;
}

.profile-settings {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.profile-image {
		max-width: 100%;
		max-height: 100%;
		width: 50%;
		height: 50%;
	}
	.image-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid black;
		border-radius: 100px;
		width: 100px;
		height: 100px;
		margin: 10px 60px;
	}
}

.custom-button {
	 font-size: 12px;
	 margin-bottom: 10px;
	 user-select: none;
}

.refresh-span {
	display: flex;
	z-index: 2;
	font-size: 1.5vw;
	color: black;
	margin-top: -1vw;
	margin-bottom: 1vw;
}



