.hidden-input {
	display: none;
}

.profile-settings {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.profile-image {
		border: 1px solid black;
		border-radius: 100px;
		width: 100px;
		height: 100px;
		margin: 10px 60px;
	}
}

.custom-button {
	 font-size: 12px;
	 margin-bottom: 10px;
	 user-select: none;
}